html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #eee;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home__MseGd {
  display: -ms-flexbox;
  display: flex;
  background-color: #eee;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  -ms-flex-direction: column;
      flex-direction: column;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.banner__1wWc3 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
  max-height: 70%;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
  background-image: url(/f99bc0294d3aa46b6f54e0409263c3ec.jpg);
  background-size: cover;
}

.text__KcKgR {
  margin-top: 250px;
}
.text__KcKgR > h1 {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 50px;
  font-weight: bold;
}
.text__KcKgR > p {
  padding-top: 10px;
  font-weight: 300;
  font-size: 35px;
}

.cards__mBtST {
  top: 90px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.cards__mBtST > .card__iMxP6 {
  background: white;
  width: 390px;
}

.cards__mBtST > .card__iMxP6 > img {
  margin-top: 15px;
  margin-bottom: 15px;
  fill: #333;
}
.cards__mBtST > .card__iMxP6 > .phrases__1B_K6 > h2 {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}
.cards__mBtST > .card__iMxP6 > .phrases__1B_K6 > p {
  font-weight: 400;
  color: #333;
  font-size: 15px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.cards__mBtST > .card__iMxP6 > .phrases__1B_K6 {
  margin-left: 15px;
  margin-right: 15px;
}

.cards__mBtST > .card__iMxP6 > .button__2cB2u {
  background-color: #333;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  cursor: pointer;
}

.offers__12Vvi {
}

.offers__12Vvi > .textos__34gXS {
  margin-top: 200px;
}

.offers__12Vvi > .textos__34gXS > h2 {
  font-size: 50px;
  font-weight: 600;
  color: black;
  text-align: center;
}

.offers__12Vvi > .textos__34gXS > h2 > span {
  font-weight: 200;
}

.picker__fhlU7 {
  background-color: rgba(255, 255, 255, 0.1);
  display: -ms-flexbox;
  display: flex;
  color: #333;
  font-size: 25px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin-top: 40px;
  font-weight: 600;
}

.picker__fhlU7 > p {
  cursor: pointer;
}

.picker__fhlU7 .active__3aDmt {
  color: #8f0b96;
}
.description__Q_GSx {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 150px;
  -ms-flex-align: center;
      align-items: center;
  zoom: 0.8;
}
.explicacao__3P3eb {
  -ms-flex: 1;
      flex: 1;
  max-width: 900px;
}
.explicacao__3P3eb > h2 {
  font-size: 48px;
  font-weight: 400;
  color: #333;
  text-align: left;
}
.explicacao__3P3eb > h2 > bold {
  font-weight: 700;
}

.img__2xau4 {
  border-radius: 20px;
}

.footer__12cs3 {
  background-color: #6d37a7;
  width: 100%;
  margin-top: 200px;
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}
.footer__12cs3 > h1 {
  margin-left: 200px;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}
.footer__12cs3 > nav {
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin-left: auto;
  margin-right: 200px;
  font-weight: 400;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  font-size: 20px;
}
nav > a:first-of-type {
  margin-right: 50px;
}

.header__3QGkI {
  top: 0;
  width: 100%;
  position: absolute;
  height: 100px !important;
  padding: 0;
  background: rgba(171, 104, 242, 0.15);
  z-index: 50;

  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  padding-left: 200px;
  padding-right: 200px;
}

.header__3QGkI h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.header__3QGkI h1 span {
  font-weight: 300;
  cursor: pointer;
}

.header__3QGkI nav {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-weight: 400;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}

.header__3QGkI nav a {
  cursor: pointer;
}

.button__-RpIq {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background-color: #ab68f2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  cursor: pointer;
}

.button__-RpIq > p {
  margin-left: 10px;
}

.header__3LOEe {
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 100px !important;
  padding: 0;
  background: rgba(171, 104, 242, 1);
  z-index: 50;

  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
}

.header__3LOEe h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}
.header__3LOEe h1 span {
  font-weight: 300;
}

.header__3LOEe nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
  -ms-flex-pack: baseline;
      justify-content: baseline;
}

.header__3LOEe nav a {
}

.home__28ocO {
  display: -ms-flexbox;
  display: flex;
  background-color: #eee;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
}

.banner__1us5Q {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
  max-height: 30%;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
  background-image: url(/f99bc0294d3aa46b6f54e0409263c3ec.jpg);
  background-size: cover;
}

.text__MULdg {
  margin-top: 150px;
}

.linha__1OOAp {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.linha__1OOAp > img {
  margin-right: 35px;
}

.text__MULdg > .linha__1OOAp > h1 {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 50px;
  font-weight: bold;
}
.text__MULdg > p {
  padding-top: 40px;
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 50px;
}

.cards__1hPAh {
  max-width: 2160px;
  margin-top: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  margin-left: 200px;
  margin-right: 200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
}
.cards__1hPAh > .card__PqxMG {
  background: white;
  width: 390px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.cards__1hPAh > .card__PqxMG > img {
  margin-top: 15px;
  margin-bottom: 15px;
  fill: #333;
}
.cards__1hPAh > .card__PqxMG > .phrases__3Xqdm > h2 {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.cards__1hPAh > .card__PqxMG > .phrases__3Xqdm > p {
  font-weight: 400;
  color: #333;
  font-size: 15px;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
}

.cards__1hPAh > .card__PqxMG > .phrases__3Xqdm {
  margin-left: 15px;
  margin-right: 15px;
}

.cards__1hPAh > .card__PqxMG > .button__1uQyf {
  background-color: #333;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.offers__1jKHP {
  max-width: 2160px;
}

.offers__1jKHP > .textos__1u5NH {
  margin-top: 200px;
}

.offers__1jKHP > .textos__1u5NH > h2 {
  font-size: 50px;
  font-weight: 600;
  color: black;
  text-align: center;
}

.offers__1jKHP > .textos__1u5NH > h2 > span {
  font-weight: 200;
}

.picker__1Tx2H {
  max-width: 2160px;
  background-color: rgba(255, 255, 255, 0.1);
  display: -ms-flexbox;
  display: flex;
  color: #333;
  font-size: 25px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin-top: 40px;
  font-weight: 600;
}
.secondpicker__I9ek0 {
  background-color: rgba(255, 255, 255, 0.1);
  display: -ms-flexbox;
  display: flex;
  color: #333;
  font-size: 25px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin-top: 40px;
  font-weight: 600;
}
.secondpicker__I9ek0 > p {
  cursor: pointer;
}
.secondpicker__I9ek0 .active__2ix2X {
  color: #8f0b96;
}

.picker__1Tx2H > p {
  cursor: pointer;
}

.picker__1Tx2H .active__2ix2X {
  color: #8f0b96;
}
.description__NE0Yd {
  max-width: 2160px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 150px;
  -ms-flex-align: center;
      align-items: center;
  zoom: 0.8;
}

.description2__25Gcb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 150px;
  -ms-flex-align: center;
      align-items: center;
  zoom: 0.8;
}

.explicacao__1uM0q {
  -ms-flex: 1;
      flex: 1;
  max-width: 900px;
}
.explicacao2__1geAI {
  max-width: 1000px;
  display: -ms-flexbox;
  display: flex;
}
.explicacao2__1geAI > h2 {
  font-size: 48px;
  font-weight: 400;
  color: #333;
  text-align: center;
}
.explicacao2__1geAI > h2 > bold {
  font-weight: 700;
}
.explicacao__1uM0q > h2 {
  font-size: 48px;
  font-weight: 400;
  color: #333;
  text-align: left;
}
.explicacao__1uM0q > h2 > bold {
  font-weight: 700;
}

.img__F91J8 {
  border-radius: 20px;
}

.footer__24DUi {
  background-color: #6d37a7;
  width: 100%;
  margin-top: 200px;
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}
.footer__24DUi > h1 {
  margin-left: 200px;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}
.footer__24DUi > nav {
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin-left: auto;
  margin-right: 200px;
  font-weight: 400;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  font-size: 20px;
}
nav > a:first-of-type {
  margin-right: 50px;
}


/*# sourceMappingURL=ssr-bundle.72a39.css.map*/